*{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  box-sizing: border-box;
}

.Viewport-container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>h1{
    margin-bottom: 15px;
  }

  &>form{
    width: clamp(300px, 100vw, 500px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 30px;
    border: 1.1px solid grey;
    border-radius: 20px;
    margin-bottom: 30px;

    &>input,
    &>button{
      all: unset;
      width: 100%;
      padding: 10px 10px;
      text-align: center;
      border: 1px solid black;
      border-radius: 3px;
      transition: all 0.2s;
      &:hover{
        transform: scale(1.02) translateY(-2px);
        border: 1px solid black;
      }
    }
    &>button{
      background-color: #4CAF50;
      font-weight: 600;
      color: rgb(0, 0, 0);
      text-shadow: 0 0 1px rgb(82, 181, 107);
      cursor: pointer;
      &:hover{
        background-color: #3e8e41;
      }
    }
  }

  &>ul{
    width: clamp(300px, 100vw, 500px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 40px 30px;
    border: 1.1px solid grey;
    border-radius: 20px;
    height: 230px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
    position: relative;

    &>li{
      width: 100%;
      padding: 10px 10px;
      text-align: center;
      border-radius: 3px;
      word-wrap: break-word;
      box-shadow: 0 2px 3px black;
      transition: all 0.2s;
      &:hover{
        transform: scale(1.02) translateY(-2px);
      }

      &>p{
        font-weight: 600;
        font-size: 0.8rem;
      }
      &>a{
        text-decoration: none;
        display: block;
        transition: all 0.2s ease-out;
        &:hover{
          color: rgb(0, 101, 208);
        }
      }
    }
  }
}

.loader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.553);
  z-index: 4;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  &>div{
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-top: 4px solid white;
    box-shadow: 0 -2px blue;
    background-color: transparent;
    animation: rotation 2.5s ease-in-out infinite;
  }
}

@keyframes rotation {
  to{
    transform: rotate(360deg);
  }
}


@media (max-width: 500px){
  .Viewport-container{
    &>form{
      width: 98vw;
    }
  
    &>ul{
      width: 98vw;
    }
  }
}